In [2]:
import pandas as pd

In [59]:
pd.set_option('display.max_rows', 60)

In [4]:
df_ruta = "./Students Performance.csv"

In [5]:
df = pd.read_csv(df_ruta)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Math_Score       399 non-null    int64
 1   Reading_Score    399 non-null    int64
 2   Writing_Score    399 non-null    int64
 3   Placement_Score  399 non-null    int64
 4   Club_Join_Date   399 non-null    int64
dtypes: int64(5)
memory usage: 15.7 KB

La data contiene una estadisticas relacionadas a un club de matematicas. Contiene columnas como el puntaje en Matematicas, la fecha de entrada al club, el puntaje de escritura entre otras.

Se va a analizar:

* ¿Qué año tuvo mejor rendimiento? (Placement_Score)
* El puntaje máximo por categoria por año. (Math_Score, Reading_Score, Writing_Score)

In [7]:
df.head()

   Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0          65             86             67               78            2021
1          64             85             71               80            2019
2          76             77             77               84            2021
3          80             76             75               75            2021
4          63             91             62               90            2019

### Años presentes

In [67]:
df_year = df['Club_Join_Date'].unique()
df_year

array([2021, 2019, 2020, 2018], dtype=int64)

### Estadisticas relacionadas al Placement Score

In [70]:
df_placement = df["Placement_Score"].describe()
df_placement

count    399.000000
mean      80.345865
std       11.452356
min       60.000000
25%       71.000000
50%       80.000000
75%       89.000000
max      100.000000
Name: Placement_Score, dtype: float64

### Placement score mayor a 90 por año

In [57]:
def filter_top_by_year():
    df_top_performance_by_year = pd.DataFrame()
    for year in df_year:
        asd = df[(df["Club_Join_Date"] == year) & (df["Placement_Score"] > 90)]
        df_top_performance_by_year = pd.concat([df_top_performance_by_year, asd])
    return df_top_performance_by_year
df_top_performance_by_year = filter_top_by_year()

In [71]:
df_top_performance_by_year

     Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
20           69             82             60               93            2021
67           84             84             65              100            2021
89           73             96             86               95            2021
103          69             62             86               93            2021
109          66             67             85               95            2021
..          ...            ...            ...              ...             ...
309          97             70             94               92            2018
324          68             68             60               91            2018
328          63             92             95               91            2018
345          97             93             79               95            2018
353          65             88             98               94            2018

[91 rows x 5 columns]

In [66]:
df_top_performance_by_year["Club_Join_Date"].value_counts()

Club_Join_Date
2020    30
2018    25
2019    20
2021    16
Name: count, dtype: int64

Conclusion > El año con mayor Placement Score fue en el 2020 y en el año 2021 tuvo una baja considerable

### Media de datos en cada año

In [63]:
df.groupby('Club_Join_Date').mean()

                Math_Score  Reading_Score  Writing_Score  Placement_Score
Club_Join_Date
2018             79.168317      80.267327      79.396040        80.128713
2019             78.941176      80.088235      79.931373        80.254902
2020             79.262626      80.949495      78.878788        81.494949
2021             79.371134      77.350515      78.422680        79.494845

Conclusion > En el 2021 se tuvo un puntaje menor en comparacion con años anteriores